services:
  minio:
    container_name: minio
    image: minio/minio:RELEASE.2025-04-22T22-12-26Z
    restart: unless-stopped
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=password
    volumes:
      - minio_data:/data
    command: "server --console-address :9001 /data"
    healthcheck:
      test: "curl -f http://localhost:9000/minio/health/live"
      interval: 10s
      timeout: 5s
      retries: 2

volumes:
  minio_data:
